<div class="footer">
<div class="container">
  	<div class="row">
    	<div class="col-sm-4">
      		<br/><br/>
      		<h2 class="footer-brand"><span class="blue">I</span>CES</h2>
      		<br/><br/>
    	</div>
    	<div class="col-sm-4">
	      	<br/><br/>
	      	<p class="footer-title" >Contact Us</p>
	      	<p>Email: icesystem@uwindsor.ca</p>
	      	<p>Phone: 519-991-6823</p>
	      	<br/><br/>
    	</div>
	    <div class="col-sm-4">
	      	<br/><br/>
	      	<p class="footer-title">About Us</p>
	      	<p>Our team was launched in 2017, offering various services of currency and mainly for exchange between 
	      	different currencies. We provides a convenient approach so that customers can get money as much as possible.</p>
	      	<br/><br/>
	    </div>
  	</div>
  	</div>
</div>
