<div class="modal fade" id="total" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	  		<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">x</span>
	      		</button>
	      		<h6 class="modal-title">Total<span id="_total"></span></h6>
	  		</div>
	  		<div class="modal-body">
	      		<p class="span2">Rate:<span id="_rate"></span></p>
	     		<p>Original Account:</p>
	          	<p id="_toaccount"></p><img id="_oImg" class="_span"/>
	           	<p>Destination Account:</p>
	            <p id="_tdaccount"></p><img id="_dImg" class="_span"/>
	            <hr/>
            	<p>Transaction Currency:</p>
   				<h7 id="_tocurrency"></h7><span id="_tdcurrency"></span>
 				<h7 id="_toamount"></h7><span id="_tdamount"></span>
	  		</div>
			<div class="modal-footer">
  				<button type="button" class="btn btn-lg closebtn" data-dismiss="modal">Close</button>
  				<button type="button" class="btn btn-lg" onclick="window.location.href='order-confirmation.html'">Confirm</button>
  			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="q1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	  		<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">x</span>
	      		</button>
	      		<h6 class="modal-title blue">How can i transfer the money?</h6>
	  		</div>
	  		<div class="modal-body">
	      		<p>Input a bank account or select a receiver. Input the amount number to make sure how much you need to transact(make sure you have two different accounts with different currency). 
	      		Check the information you put and the total charge before going forward. Confirm your payment. </p>
	  		</div>
			<div class="modal-footer">
  				<button type="button" class="btn btn-lg" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="q2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	  		<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">x</span>
	      		</button>
	      		<h6 class="modal-title blue">Some information about the policy. </h6>
	  		</div>
	  		<div class="modal-body">
	      		<p>ICES has already get permission from relevant institutions and every transaction you do is legal and secure. Different banks and financial institutions
	      		 can have different exchange rate to make profit and ICES will considered as a bank to a certain degree.</p>
	  		</div>
			<div class="modal-footer">
  				<button type="button" class="btn btn-lg" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="q3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	  		<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">x</span>
	      		</button>
	      		<h6 class="modal-title blue">Where do you get the currency rate? </h6>
	  		</div>
	  		<div class="modal-body">
	      		<p>ICES gather rate from different bank and we promise the information are all reliable.</p>
	  		</div>
			<div class="modal-footer">
  				<button type="button" class="btn btn-lg" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="q4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	  		<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">x</span>
	      		</button>
	      		<h6 class="modal-title blue">How long dose it take to transfer money?</h6>
	  		</div>
	  		<div class="modal-body">
	      		<p>ICES has session limit time of 5 minutes which means you must complete transaction in 5 minutes once you decide to exchange.</p>
	  		</div>
			<div class="modal-footer">
  				<button type="button" class="btn btn-lg" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="user-agreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
	  		<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">x</span>
	      		</button>
	      		<h6 class="modal-title blue">User Agreement</h6>
	  		</div>
	  		<div class="modal-body">
	      		<p>You must not reveal your password and must take reasonable steps to keep your password confidential
	      		 and secure. You agree to immediately notify ICES if you become aware of or have reason to 
	      		 believe that there is any unauthorized use of your password or account or any other breach of 
	      		 security. ICES is in no way liable for any claims or losses related to the use or misuse 
	      		 of your password or account due to the activities of any third party outside of our control or due 
	      		 to your failure to maintain their confidentiality and security.   </p>
	  		</div>
			<div class="modal-footer">
  				<button type="button" class="btn btn-lg" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>