<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>ICES</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<style>
  .my-navbar {
    background:black !important;
  }
</style>

<body style="background-color:#005fa4 !important;">
  <header>
    <nav class="navbar navbar-fixed-top my-navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a th:href="@{/index}" class="navbar-brand"><span class="blue">I</span>CES</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/index}">Home</a></li>
                        <li><a th:href="@{/transaction}">Account</a></li>
                    </ul>
                </div>
            </div>
        </nav>
  </header>
  <div class="container">
      <div class="errormain">
        <img src="img/505.png" />
        <div class="textcontain">
	        <h4>OOPS! Our system is out of service.</h4>
	        <h4>Please try again later.</h4><br/>
	        <div class="btn-transfer">
          		<a th:href="@{/index}"><button class="btn btn-lg">Back to Home page</button></a>
        	</div>
	    </div>
      </div>
   </div>

  <div id="footer"></div>

    <script th:src="@{http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{/js/navigation.js}"></script>
    <script th:src="@{/js/pageContainer.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>